* 
{
  padding: 0;
  margin: 0 ;
  box-sizing: border-box;
  outline: none;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
  font-family: sans-serif;

}

/* #recordButton
{
  background-color: rgba(210, 0 , 0);
  border:none;
  padding: 1em;
  border-radius: 50%;
  outline: none;
  width: 200px;
  height: 200px;
  transition: .2s;
  cursor: pointer;
} */

/* #recordButton
{
  border:none;
} */

/* #recordButton:hover 
{
  background-color: rgba(210, 0 , 0, .8);
}

#recordButton:active 
{
  transform: scale(.9);
} */

.none 
{
  display: none;
}
.mic-icon
{
  fill: white;
  width: 40px;
  height: 40px;
}

.recorder-container {
  cursor: pointer;
  border: none;
  width: 150px;
  background-color: #e74c3c;
  display: block;
  margin: 50px auto 20px auto;
  border-radius: 100%;
  /* box-shadow: 0px 0px 15px 2px #bdc3c7; */
  transition: .3s all ease-in;
  position: relative;
}

.recorder-container:active
{
  transform: scale(.9);
}

.disabled 
{
  cursor: not-allowed;

}


.icon-microphone {
  color: #fff;
  font-size: 60px;
  line-height: 150px;
  display: block;
  text-align: center;
  transition: .1s all ease-in;
  position: relative;
}

.outer {
  width: 148px;
  height: 148px;
  -webkit-transform: scale(1);
  border-radius: 100%;
  position: absolute;
  background-color: transparent;
  /* border: 1px solid #7f8c8d; */
  z-index: -1;
  transition: 1.5s all ease;
  -webkit-animation: woong 1.5s infinite;
}

.outer-2 {
  width: 150px;
  height: 150px;
  -webkit-transform: scale(1);
  border-radius: 100%;
  position: absolute;
  background-color: #bdc3c7;
  z-index: -1;
  transition: 1.5s all ease;
  -webkit-animation: woong-2 1.5s infinite;
  -webkit-animation-delay: 2.5s;
}

@-webkit-keyframes woong {
  0% {
    -webkit-trasform: scale(1.2);
  }
  50% {
    -webkit-transform: scale(1.8);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(2.4);
    opacity: 0;
  }
}

@-webkit-keyframes woong-2 {
  0% {
    -webkit-transform: scale(1.2);
    opacity: 0.6;
  }
  50% {
    -webkit-transform: scale(1.6);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(2);
    opacity: 0;
  }
}