<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>
      Simple Recorder.js demo with record, stop and pause - addpipe.com
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Latest compiled and minified Bootstrap CSS -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <form action="/fingerprints" method="POST" enctype="multipart/form-data">
      <div class="overflow-hidden relative w-64 mt-4 mb-4">
        <!-- <button
          class="bg-red-500 hover:bg-red-400 text-white font-bold py-2 px-4 w-full inline-flex items-center"
        >
          <svg
            fill="#FFF"
            height="18"
            viewBox="0 0 24 24"
            width="18"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M0 0h24v24H0z" fill="none" />
            <path d="M9 16h6v-6h4l-7-7-7 7h4zm-4 2h14v2H5z" />
          </svg>
          <span class="ml-2">Generate Fingerprints</span>
        </button> -->
        <input
          class="cursor-pointer"
          type="file"
          id="audio"
          name="audio"
          multiple
          accept=".mp3,.wav"
        />
      </div>
	<input type="submit" value="generate" class="px-4 py-2 cursor-pointer text-white bg-blue-500 hover:bg-blue-400 rounded shadow font-bold" />
    </form>

    <div class="flex flex-col justify-center items-center">
    
      {% for fingerprint in fingerprints %}

        <div class=" w-full rounded-lg shadow-md bg-white my-3 hover:bg-gray-200">
              <div class="flex flex-wrap justify-between border-b border-gray-100 px-5 py-4">
                <div class="song-name">
                    <span class="font-bold text-gray-700 text-lg ">{{ fingerprint.song_name }}</span>
                  </div>
                  <div class="song-hashes mx-4">
                      <b class="text-gray-700">Hashes: </b> {{ fingerprint.total_hashes }}
                  </div>
                  <div class="song-created_at">
                    <b class="text-gray-700">Created at: </b> {{ fingerprint.date_created.strftime('%Y-%m-%d') }} 
                  </div>
              </div>
          </div>
        
  
      {% endfor %}
    </div>

    <!-- <script src="../static/js/app.js"</script> -->
  </body>
</html>
